
#descuento { /* Parte superior de la pagina */

    color: white;
    background-color: black;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#pilatos {

    width: 325px;
    height: 67px;

}
